h1,h3 {
    color:darkslateblue
}

p {
    background: orange;
    background: green;
    /* background will be green because the code 'cascades' from top to bottom style*/
    font-size: 24px;
}
