code {
    background: #2db34a;
    border-radius: 10px;
    color: #fff;
    display: block;
    padding: 20px 30px;
    text-align: center;
}

section {
    float: left;
}

aside {
    float: right;
}

body {
    clear: both;    
}

header,
section,
body,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
  width: 30%;
}
