code {
  background: #2db34a;
  border-radius: 10px;
  color: #fff;
  display: block;
  padding: 20px 30px;
  text-align: center;
}

/*
Before and after creates a pseudo element, 
without HTML content. The technique shown here 
is known as a clearfix or cf.
*/

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

.logo {
  border: 4px solid #648880;
  padding: 40px 0 22px 0;
  display: block;
  float: left;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
  position: inherit;
}

.primary-footer small {
  float: left;
}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

section {
  float: left;
}

aside {
  float: right;
}

body {
  clear: both;    
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section,
body,
aside,
footer {
  display: inline-block;
  margin: 0 1.5% 24px 1.5%;
  width: 40%;
}
