/*
html text color
*/

html {
    color: #b50
}

code {
    background: #230;
    border-radius: 20px;
    display: block;
    padding: 20px 30px;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
Before and after creates a pseudo element, 
without HTML content. The technique shown here 
is known as a clearfix or cf.
*/

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

.logo {
    background: #b50;
    border: 4px solid #a30;
    padding: 20px 20px 20px 20;
    display: block;
    float: top;
}

.col-1-3 {
    width: 33%;
}

.col-2-3 {
    width: 66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 40%;
}

.primary-footer small {
    float: left;
}

.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
}

section {
    float: left;
    font-weight: bolder;
}

aside {
    float: right;
    font-weight: 300;
}

body {
    clear: both;    
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

section,
body,
aside,
footer {
    display: inline-block;
    margin: 0 1.5% 24px 1.5%;
}
